@{
    ViewData["Title"] = "홈";
}

<!-- _Notification.cshtml을 index.cshtml에 포함시키는 것-->
<Partial name="_Notification" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
